# PDF guide
*.pdf

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform
terraform.tfvars

# Node
node_modules/
.env
.env.local
dist/
build/
*.log

# OS
.DS_Store

# Tools
velero-*.tar.gz
kubeseal-*.tar.gz